{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
  <meta name="viewport" content="width=1366px">
  <title>index</title>
  <script src="{% static 'netpages/js/jQuery-2.1.4.min.js'%}"></script>
  <script src="{% static 'netpages/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'netpages/Swiper-3.4.1/dist/js/swiper.js'%}"></script>
  <link rel="stylesheet" href="{% static 'netpages/bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'netpages/Swiper-3.4.1/dist/css/swiper.css'%}">
  <link rel="stylesheet" href="{%static 'netpages/css/style.css'%}">
  <link rel="stylesheet" href="{%static 'split_page.css'%}">
</head>
<body>
  <div class="wrap-box">
    <div class="head-top">
      <div><img src="{%static 'netpages/img/logo51090.gif'%}" class="img-responsive"></div>
    </div>
    <div class="head-nav">
      <ul class="head-nav wrap-catalog-box">
        <li class="active">
          <a href="./#">首页</a>
        </li>
        <li>
          <a href="aboutus">关于我们</a>
        </li>
        <li>
          <a href="newscenter">新闻中心</a>
        </li>
        <li>
          <a href="industryinfo">行业资讯</a>
        </li>
        <li>
          <a href="productshow">产品展示</a>
        </li>
        <li>
          <a href="productandservice">产品与服务</a>
        </li>
        <li>
          <a href="activitytheme">活动主题</a>
        </li>
     </ul>
    </div>
    <div class="page-container">
      <div class="swiper-mo">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                {% block top %}
                <div class="item active">
                    <img src={{p1.url}} alt="First slide">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src={{p2.url}} alt="Second slide">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src={{p3.url}} alt="Third slide">
                    <div class="carousel-caption"></div>
                </div>
            {% endblock%}
                <!--
                <div class="item active">
                    <img src="{% static 'netpages/img/banner1365385.jpg'%}" alt="First slide">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="{% static 'netpages/img/banner1365385.jpg'%}" alt="Second slide">
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="{% static 'netpages/img/wp-content/uploads/2014/07/slide3.png' %}" alt="Third slide">
                    <div class="carousel-caption"></div>
                </div>
                -->
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left custom" href="#myCarousel" 
                data-slide="prev">&lsaquo;
            </a>
            <a class="carousel-control right custom" href="#myCarousel" 
                data-slide="next">&rsaquo;
            </a>
        </div>
      </div>
      
      <div class="content-main s-main">
	{% block item %}	  
        <div class="row new-in">

            <div class="col-sm-6 col-xs-6">
              <img src={{ first_post.article_img }} class="img-responsive">
            </div>

            <div class="col-sm-6 col-xs-6 new-font">
                <a href = {{first_post.id}} > 
                 <h3>{{first_post.acticle_title}}</h3>
                </a>
              <p>{{first_post.article_content | safe}}</p>
            </div>	

        </div>
		
       {% for post in posts %}
        <div class="row main-line">
          <div class="col-xs-3 col-sm-3">
            <img src={{ post.article_img }} class="img-responsive">
          </div>
          <div class="col-xs-9 col-sm-9">
              <a href = {{post.id}} >
                  <h3>{{ post.acticle_title }} </h3>
              </a>
            <p>{{ post.article_content | safe}}</p>
          </div>
        </div>
         {% endfor %}
    {% endblock %} 

      </div>
    </div>
	
	<!-- 分页代码 -->
		<div class="navigation">
		  <ol class="wp-paginate">
			<li><span class="title">Pages:</span></li>
              {% block pages_split%}
			{% for url in urls%}

			<!-- <li><span class="page current">1</span></li> -->
			<li><a href={{ url }} title={{  forloop.counter }} class="page"> {{forloop.counter}}</a></li>
            {% endfor %}
            {% endblock %}

              <!--
			<li><a href="" title="6" class="page">6</a></li>
			<li><a href="" title="7" class="page">7</a></li>
			<li><span class="gap">...</span></li>
			<li><a href="" title="31" class="page">31</a></li>
			-->
			
			
			<!--<li><a href="" class="next">&gt;</a></li>-->
		  </ol>
		</div>
	
	
	
    <div class="foot">
      <p>技术支持：广州清朗元安网络科技有限公司   粤ICP8125546122</p>
    </div>
  </div>
</body>
<script>
    
</script>
</html>
